@model cstructor.website.Models.IndexModel

    @{
            ViewBag.Title = "Home Page";
        }

        <div class="jumbotron">
            <h1>The Learning Center</h1>
            <p class="lead">The place for technology classes.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">            
                <h3> @Html.ActionLink("Class List", "ClassList") </h3>
            </div>
            <div class="col-md-4">                
                <h3>@Html.ActionLink("Enrolled classes", "ClassesForUser")</h3>
            </div>
            <div class="col-md-4">               
                <h3>@Html.ActionLink("Enroll In Classes", "EnrollInAClass") </h3>
            </div>
        </div>


@*<div class="row">
    @foreach (var cls in Model.Classes)
    {
        <div class="col-md-4">
            <h2>@Html.ActionLink(cls.Name, "Class", new { id = cls.Id }) </h2>
        </div>
    }

</div>*@